:root {
    --color-primary: #2C3639;
    --color-secondary: #ffff;
    --color-tertiary: #A27B5C;
    --color-hover: #3F4E4F;
    --teste: #6E2CF3;
    /* --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: background-color 0.4s, color 0.4s;

}
a {
    color: inherit;

}


.navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

.presentation {

}

.presentation__content {

}

.presentation__row {

}

.presentation__column {

}

.presentation__column--left {

}

.presentation__column--right {

}

.presentation__content__title {

}

.presentation__content__text {

}

.presentation__content__list {

}

.presentation__content__item {

}
.presentation__content__company {

}

.presentation__content__location {

}

.presentation__content__role {

}

.presentation__content__duration {

}

.presentation__content__description {

}
